.complexInfoContainer {
    height: 100%;
    width: 50%;
    float: left;
    background-color: red;
}

.complexInfoContainer > div > div > div > div{
    display: flex;
}
.complexInfoContainer > div > div > div >  p{
    margin-left: 10px ;
}
.complexInfoContainer > div {
    display: flex;
}

.complexInfoContainer > div > p{
    margin-left: 10px ;
}


.firstInfoContainer {
    background-color: blue;
}

.first3elements {
    width: 30%;
    float: left;
    background-color: yellow;
}

.second3elements {
    background-color: green;
}

.firstInfoContainer > div > div{
    display: flex;
}
