.complexInfoContainer {
    height: 100%;
    width: 50%;
    float: left;
    background-color: red;
}

.complexInfoContainer>.firstInfoContainer {
    display: flex;
}


.first3elements {
    width: 100%;
    float: left;
    background-color: yellow;
}

.second3elements {
    background-color: green;
    width: 100%;
}

.date{
    display:flex;
    justify-content: center;
}