.complexInfoContainer {
    height: 100%;
    width: 58%;
    float: left;
}

.complexInfoContainer>.firstInfoContainer {
    display: flex;
}


.first3elements {
    width: 100%;
    float: left;
}

.second3elements {
    width: 100%;
}

.n>div {
    display: flex;
    justify-content: center;
}