.forecastBox {
    padding: 20px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    margin: 0px 5px 0px 5px;
    text-align: center;
}


.forecastContainer {
    display: flex;
    padding: 20px;
}

.clickableDiv {
    width: 300px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.clickableDiv:hover {

    transform: scale(1.05);
}

.forecastContainerInfo {
    text-align: center;
    overflow: hidden;

}

.forecastMinMax {
    text-align: center;
    width: auto;
    display: inline-flex;
}

.forecastMinMax>p {
    margin: 10px 10px 0px 5px;
}

.max {
    color: #2cf022;

}

.min {
    color: #fa1b1b
}