.containerMenu{
  padding: 10px;
  margin-bottom: 20px;
}

ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li{
    text-decoration: none;
    display: inline;
    padding: 10px;
    position: relative;
  }
  
  .headerLinks{
    color: white ;
    text-decoration: none;
    font-size: 25px;
  }
  .headerLinks:after{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0;
    height: 2px;
    background:white;
    transition: width .2s ease-in-out;
  }
  .headerLinks:hover:after{
    width: 100%;
  }