.spinner{
   border: 4px solid rgba(255, 255, 255, 0.5);
   width: 86px;
   height: 86px;
   border-radius: 50%;
   border-left-color: transparent;
   animation: spin 1s linear infinite;
   text-align: center;
   margin: auto;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}