  .generalInfo{
    width: 50%;
    height: 100%;
    background: blue;
    float: left;
    display: inline-flex;
  }

  .cityDegrees{
    background-color: #fff;
  }

  .iconState   {
    background-color: yellow;
    float: right;
  }
  
  .dayInfo{
    height: 100%;
    width: 50%;
    background: red;
    float: left;
  }
  
  .degreesTitle{
    font-size: 80px;
    margin-left: 10%;
  }
  
  .weatherImg{
    width: 30%;
    height: 30%;
  }