  .generalInfo{
    width: 42%;
    height: 100%;
    float: left;
    display: inline-flex;
  }

  .cityInfo{
    padding: 20px;
  }

  .cityDegree{
    font-size: 60px;
  }

  .minMax > p{
    float: left;
    margin:10px;
  }

  